* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("./background.jpg");
    height: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(226, 104, 4);
    font-size: 200%;
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
}

.container {
    display: flex;
    background-color: rgba(41, 49, 49, 0.603);
    border: 2px solid rgb(226, 104, 4);
    width: 15%;
    height: 50vh;
    border-radius: 20px 0px 20px 0px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.tudo {
    text-align: center;
}

.email {
    font-family: "Montserrat";
    padding-left: 5%;
    background: transparent;
    font-size: 11px;
    outline: none;
    width: 100%;
    margin-top: 30%;
    height: 30px;
    border: hidden;
    border-bottom: 1px solid rgb(226, 104, 4);
    color: rgb(255, 255, 255);
    transition: transform 95ms linear, opacity 95ms ease-in-out;
}

.email::placeholder {
    color: rgb(226, 104, 4);;
}

.email:hover {
    transform: scale(1.5);
}

.senha {
    font-family: "Montserrat";
    padding-left: 5%;
    border: hidden;
    border-bottom: 1px solid rgb(226, 104, 4);
    background: transparent;
    font-size: 11px;
    outline: none;
    width: 100%;
    margin-top: 5%;
    height: 30px;
    color: rgb(255, 255, 255);
    transition: transform 95ms linear, opacity 95ms ease-in-out;
}


.senha::placeholder {
    color: rgb(226, 104, 4);
}

.senha:hover {
    transform: scale(1.5);
}

.enviar {
    font-family: "Montserrat";
    border: 1px solid rgb(226, 104, 4);
    background-color: rgba(41, 49, 49, 0.603);
    margin-top: 40%;
    width: 50%;
    height: 40px;
    border-radius: 5px 0px 5px 0px;
    cursor: pointer;
    color: rgb(226, 104, 4);
}

@media (min-width:280px) {
    .container {
        width: 90%;
        height: 80vh;
        margin-top: 20%;
    }
}

@media (min-width:320px) {
    .container {
        width: 90%;
        height: 80vh;
        margin-top: 15%;
    }
}

@media (min-width:425px) {
    .container {
        width: 60%;
        height: 90vh;
        margin-top: 5%;
    }
}

@media (min-width:768px) {
    .container {
        width: 30%;
        height: 70vh;
        margin-top: 10%;
    }

    
    .email:hover {
        transform: scale(1.3);
    }


    .senha:hover {
        transform: scale(1.3);
    }

}


@media (min-width:1024px) {
    .container {
        width: 20%;
        height: 70vh;
        margin-top: 8%;
    }

    .email:hover {
        transform: scale(1.2);
    }


    .senha:hover {
        transform: scale(1.2);
    }
}

@media (min-width:1440px) {

    .container {
        width: 20%;
        height: 60vh;
        margin-top: 10%;
    }

    h1 {
        font-size: 300%;
    }
 
    .email {
        font-size: 15px;
    }
    
    .senha {
        font-size: 15px;
    }

    .enviar {
        font-size: 20px;
        margin-top: 30%;
        width: 50%;
        height: 50px;
    }
    
}

@media (min-width:2560px) {

    body {
        background-image: url("background.jpg");
        height: 100%;
        background-size: 2560px;
        background-repeat: no-repeat;
    }

    .container {
        width: 40%;
        height: 80vh;
        margin-top: 5%;
    }

    h1 {
        margin-top: 10%;
        font-size: 800%;
    }
 
    .email {
        margin-top: 10%;
        height: auto;
        font-size: 50px;
    }
    
    .senha {
        height: auto;
        font-size: 50px;
        margin-top: 15%;
    }

    .email:hover {
        transform: scale(2);
    }


    .senha:hover {
        transform: scale(2);
    }

    .enviar {
        font-size: 50px;
        margin-top: 10%;
        width: 50%;
        height: 80px;
    }
    
}